:root {
  --red: #e54b4b;
  --gray: #444140;
  --raisin-black: #1e1e24;
  --light-pink: #f7ebe8;
  --pink: #ffa987;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

body {
  background-color: var(--gray);
}

#root {
  min-height: 1100px;
  min-width: 1070px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.main {
  height: 100%;
  display: grid;
  grid-template-rows: 100px auto 40px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--red);
}

.selection {
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.preview {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category {
  height: 4rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  border-radius: 10px;
  font-size: 2rem;
  color: var(--light-pink);
}

.category,
.form {
  width: 90%;
  max-width: 800px;
}

.list {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form,
.edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-form {
  width: 100%;
}

.form > div,
.edit-form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.entry {
  padding: 15px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--light-pink);
  font-size: 1.35rem;
  color: var(--gray);
}

.add-entry {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray);
  background-color: var(--pink);
}

.enter-btn,
.edit-btn,
.delete-btn {
  padding: 5px;
  background-color: var(--pink);
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray);
}

label {
  font-size: 1rem;
  font-weight: 500;
  color: var(--pink);
}

input,
textarea {
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid black;
  background-color: var(--light-pink);
  color: var(--gray);
}

/* CV Preview  */
.print-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.cv-preview {
  height: 1000px;
  background-color: white;
  box-shadow: 1px 0px 20px 0px var(--raisin-black);
}

.cv-content {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cv-preview h1 {
  text-align: center;
}

.cv-email,
.cv-phone {
  text-align: center;
}

.date {
  width: 100px;
}

.education,
.experience,
.skills {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.education-item,
.experience-item {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.prev-title {
  font-size: 1.15rem;
}

.prev-desc {
  font-size: 1rem;
}

.print-btn {
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--red);
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--light-pink);
}

@media print {
  .cv-preview {
    height: 100vh;
    width: 100vw;
  }
}

/* hover effects */

.category:hover,
.entry:hover,
button:hover {
  cursor: pointer;
}

.category:hover,
.print-btn:hover {
  color: var(--gray);
  transition: 150ms;
}

.entry:hover {
  color: var(--red);
}

button:hover {
  background-color: var(--red);
  transition: 150ms;
}

/* github link */

.footer {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--red);
}

.footer svg {
  fill: var(--red);
}
