:root {
  --red: #E54B4B;
  --gray: #444140;
  --raisin-black: #1E1E24;
  --light-pink: #F7EBE8;
  --pink: #FFA987;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

body {
  background-color: var(--gray);
}

#root {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.selection {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.preview {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category {
  height: 4rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  border-radius: 10px;
  font-size: 2rem;
  color: var(--light-pink)
}

.category, 
.form {
  width: 90%;
  max-width: 800px;
}

.list {
  width: 80%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form, 
.edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-form {
  width: 100%;
}

.form > div, 
.edit-form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.entry {
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--light-pink);
  font-size: 1.35rem;
  color: var(--gray)
}

.add-entry {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray);
  background-color: var(--pink);
}

.enter-btn, 
.edit-btn, 
.delete-btn {
  padding: 5px;
  background-color: var(--pink);
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray)
}

label {
  font-size: 1rem;
  font-weight: 500;
  color: var(--pink)
}

input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid black;
  background-color: var(--light-pink);
  color: var(--gray)
}

/* CV Preview  */
.cv-preview {
  height: 800px;
  background-color: white;
  box-shadow: 1px 0px 20px 0px var(--raisin-black);
}

.cv-content {
  padding: 30px;
}

.cv-preview h1 {
  text-align: center;
  padding-bottom: 13px;
}

.cv-email,
.cv-phone {
  text-align: center;
}

.preview > div {
}

@media print {
  .cv-preview {
      height: 100vh;
      width: 100vw;
  }
}

/* hover effects */

.category:hover,
.entry:hover, 
button:hover {
  cursor: pointer;
}

.entry:hover {
  color: var(--red)
}