* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

#root {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.selection {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.preview {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.75rem;
}

.category:hover {
  cursor: pointer;
}

.category, 
.form {
  width: 90%;
  max-width: 800px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid black;
}

/* CV Preview  */
.cv-preview {
  height: 800px;
  background-color: white;
  box-shadow: 1px 0px 9px 0px black;
}

.cv-content {
  padding: 30px;
}

.cv-preview h1 {
  text-align: center;
  padding-bottom: 13px;
}

.cv-email,
.cv-phone {
  text-align: center;
}
